html {
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #e20074;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 36px;
}

.content {
  flex: 1 0 auto;
}

.content input {
  min-width: 512px;
}

.ap-input-icon svg {
  fill: #e20074;
}

.ap-input-icon {
  position: relative;
  bottom: 5px;
  left: -16px;
  visibility: hidden;
}

.inputGroup {
  position: relative;
  min-height: 56px;
  align-self: center;
}

.inputLabel {
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 200;
  background: transparent;
  color: rgba(0,0,0,0.6);
  margin: 0px auto;
  cursor: text;
  transition: all .15s ease-in-out;
  pointer-events: none;
  top: 12px;
  left: 12px;
  text-size-adjust: none;
  padding: 0 4px;
  padding-bottom: 2px;
  transition: font-size 200ms, top 200ms;
}

.inputField {
  font-family: 'Roboto';
  font-size: 16px;
  width: 512px;
  height: 32px;
  position: relative;
  margin: 0;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  box-sizing: border-box;
}

.inputField:focus {
  border-bottom: 1px solid #e20074;
}

.searchParams {
  text-align: left;
  margin-top: 24px;
}

.searchParamsTitle {
  font-weight: bold;
  text-align: left;
  margin-top: 48px;
}

p {
  max-width: 512px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  line-height: 21px;
}

.sendButton {
  background-color: #e20074;
  padding: 12px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  margin-top: 36px;
  margin-bottom: 90px;
}

.footer {
  background-color: #262626;
  color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-shrink: 0;
}
